.framed {
	position: relative;
	padding-left: 0;
	// display: inline-block;
	z-index: 4;
//	width: max-content;
	&::after {
    position: absolute;
    content: " ";
    width: 60%;
    height: calc(100% - 2rem);
    bottom: -$container-padding-x;
    left: -$container-padding-x;
    // border-top: 0.6rem solid #FF8200;
    //border-left: 1.5rem solid #FF8200;
    //border-bottom: 1.5rem solid #FF8200;
    background: $utorange;
    z-index: -1;
    @include media-breakpoint-up(md) {
      bottom: -1.5rem;
      left: -1.5rem;
    }
	}
	&.right::after {
    //border-right: 1.5rem solid #FF8200;
    //border-bottom: 1.5rem solid #FF8200;
    border-left: 0;
    right:  -$container-padding-x;
    left: auto;
    @include media-breakpoint-up(md) {
      right:  -1.5rem;
    }

	}
	&.gingham::after {
		background-image: url("https://images.utk.edu/designsystem/v1/latest/assets/i/strip_gingham.gif");
	}

}
