h1, .h1 {
	font-weight: $font-weight-bolder;
}
.has-drop-cap:first-letter {
  float: left;
  font-size: 6rem;
  font-weight: 100;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}

.list-roman {
   list-style-type: upper-roman;
}
.list-letters {
  list-style-type: lower-alpha;
}

.text-condensed {
  font-family: "Gotham Cond SSm A", "Gotham Cond SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.text-letterspaced {
  letter-spacing: 0.1em;
}

// Default wordpress styles. Getting them in line with Bootstrap
.has-small-font-size {
	@extend .fs-6;
}
.has-medium-font-size {
	@extend .fs-3;
}
.has-large-font-size {
  @extend .fs-2;
}
.has-huge-font-size {
 	@extend .fs-1;
}
