.alignright {
	float: right;
	margin-left: $spacer;
	margin-bottom: $spacer;
}
.alignleft {
	float: left;
	margin-right: $spacer;
	margin-bottom: $spacer;
}
.aligncenter {
  display: block;
  float: none;
  @extend .mx-auto;
}