// This file is for wordpress's odd css naming compatiblitiy.
// Note: Do this sparingly, and ONLY if necessary. Our goal should be to make the theme output HTML that is compatible with the framework.

.alignright {
	float: right;
	margin-left: $spacer;
	margin-bottom: $spacer;
}
.alignleft {
	float: left;
	margin-right: $spacer;
	margin-bottom: $spacer;
}
.aligncenter {
  display: block;
  float: none;
  @extend .mx-auto;
}
.has-text-align-center {
  @extend .text-center;
}
.has-text-align-right {
  @extend .text-end;
}
