.card.overlay {
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0%;
  }
  &.overlay-0::before {
    opacity: 0%;
  }
  &.overlay-10::before {
    opacity: 10%;
  }
  &.overlay-20::before {
    opacity: 20%;
  }
  &.overlay-30::before {
    opacity: 30%;
  }
  &.overlay-40::before {
    opacity: 40%;
  }
  &.overlay-50::before {
    opacity: 50%;
  }
  &.overlay-60::before {
    opacity: 60%;
  }
  &.overlay-70::before {
    opacity: 70%;
  }
  &.overlay-80::before {
    opacity: 80%;
  }
  &.overlay-90::before {
    opacity: 90%;
  }
  &.overlay-100::before {
    opacity: 100%;
  }

  &.bg-primary::before {
    background-color: $primary;
  }
  &.bg-light::before {
    background-color: $light;
  }
  &.bg-secondary::before {
    background-color: $secondary;
  }
  &.bg-dark::before {
    background-color: $dark;
  }
}

// WP Compatibility

.wp-block-utksds-card p {
  @extend .card-text;
}

/* - - - - - - - - - - - - */
/* Orange Accent (oa) Flex Cards */
/*These cards are designed to be added inside a nested group block
     Parent Group Block: group .card-oa-container
         Nested Group Block 01: group .card-oa
         Nested Group Block 02: group .card-oa */
/* works best with odd number of cards */
/* - - - - - - - - - - - - */

.card-oa-container > div[class$="__inner-container"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: stretch;
}

.card-oa-container .card-oa-square {
  width: 1rem;
  height: 1rem;
  width: 2rem;
  height: 2rem;
  display: block;
  position: relative;
  background-color: $utorange !important;
  left: -0.75rem;
  top: -2.5rem;
  top: -3rem;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.card-oa {
  flex: 1 1 30%;
  background-color: #f5f5f5;
  border: 1px solid #f6f6f6;
  height: auto;
}

.card-oa .card {
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: start;
  border: none;
}

.card-oa .card-body {
  padding: 1rem 2rem 3rem 2rem;
}

.card-oa h2.card-title {
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.95rem;
}

.card-oa h2.card-title a {
  color: $utlinkriver;
  text-decoration: none;
}
