.strip {
  background: $utgray1;
  padding-top: $spacer*2;
  padding-bottom: $spacer*2;
  width: 100vw;
  margin-left: -($grid-gutter-width / 2);
  @include media-breakpoint-up(sm) {
  //  max-width: 540px;
  margin-left: calc(-50vw + 258px);
  }
  @include media-breakpoint-up(md) {
  //  max-width: 720px;
  margin-left: calc(-50vw + 348px);
  }
  @include media-breakpoint-up(lg) {
  //  max-width: 1060px;
  margin-left: calc(-50vw + 468px);
  }
  @include media-breakpoint-up(xl) {
   margin-left: calc(-50vw + 558px);
  }
  @include media-breakpoint-up(xxl) {
   margin-left: calc(-50vw + 648px);
  }


  .container .row {
    @extend .align-items-center;
  }


  &.strip-white {
    background-color: white;
  }
  &.strip-gray1 {
    background-color: $utgray1;
  }
  &.strip-gray2 {
    background-color: $utgray2;
  }
  &.strip-smokey {
    background-color: $utsmokey;
  }
  &.strip-pattern {
    background-color: $utsmokey;
  	background-image: url('../i/strip_pattern.gif');
  	background-size: cover;
  }
  &.strip-seal {
    background-color: $utgray1;
  	background-image: url('../i/strip_seal.jpg');
  	background-size: cover;
  }
  &.strip-ayres {
    background-color: $utsmokey;
  	background-image: url('../i/strip_ayres.jpg');
  	background-size: cover;
  }
  &.strip-library {
    background-color: $utgray1;
  	background-image: url('../i/strip_library.jpg');
  	background-size: cover;
  }
  &.strip-smokies {
    background-color: $utsmokey;
  	background-image: url('../i/strip_smokies.jpg');
  	background-size: cover;
  }
  &.strip-mountains {
    background-color: $utgray1;
  	background-image: url('../i/strip_mountains.svg');
  	background-size: cover;
  }
  &.strip-ped {
    background-color: $utsmokey;
  	background-image: url('../i/strip_ped.jpg');
  	background-size: cover;
  }
}