#footer-main-extended {
	background-color: $utsmokey;

	background-image: url(https://www.utk.edu/images/interface/smokies.jpg);
	background-size: cover;
	margin-top: $spacer;
	margin-bottom: $spacer;
	padding-bottom: $spacer;
	padding-top: $spacer;
	a, h4 {
		color: $white;
	}
}
.extended-footer {
	padding-top: 4*$spacer;
	padding-bottom: 4*$spacer;
}
.extended-checkerboard {
	// background-image: url(https://images.utk.edu/images/chrome/checkerboard.gif);
	a {
		color: $white;
		border-bottom: 0.1rem solid $utorange;
		text-decoration: none;
	}
}