//#masthead {
//  border-top: 0.25rem solid $utorange;
//  }
.site-title {
	font-size: $font-size-lg;
}
.home_link {
	display: flex;
}
// Centered Logo on small screens
.utk_logo_powert {
	@extend .d-md-none;
	@extend .mt-3;
	// @extend .col-8;
	height: $spacer*2.25;
	width: $spacer*2.25;
}
// Left Aligned Logo
// #masthead {
//   border-bottom: $spacer/2 solid $utorange;
// 	}
.utk-header-logo {
  max-width: 325px;
}

#power-t {
  width: 2.5rem;
  @include media-breakpoint-up(md) {
    width: 3.25rem;
  }
  @include media-breakpoint-up(xl) {
    width: 3.75rem;
  }
  float: left;
  margin-right:  1rem;
  padding: 0; // compatibility with BS5
}