#site-navigation {
 @include media-breakpoint-down(lg) {
    background: $white;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 100%;
    width: 100%;
    padding-right: $spacer;
    padding-left: $spacer;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 10;
    &.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}


#mobile-menu-open,#mobile-menu-close {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
#mobile-menu-close {
  // float: right;
  @extend .btn;
  @extend .btn-smokey;
  //display: block;
  margin-top: $spacer;
  svg {
    fill: $utgray3;
  }
}