
#bellows {
  // @include make-container();
  margin-top: 2rem;
  @include media-breakpoint-up(xl) {
    margin-top: 0;
  }
  a, button {
   // float: left;
    &:hover {
      background: $utgray1;
    }
    &:focus {
      border: $spacer/6 solid $utorange;
      margin: -$spacer/6;
    }
  }
  a {
    @extend .text-reset;
    @extend .text-decoration-none;
    // @include make-col(9);
    
    display: block;
    padding: 15px 25% 15px 0;   
  }
  button {
    right: 30px;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(1.8rem + 30px);
    width: 70px;
    border-left: 1px solid $utgray3;


  }

   ul {
    list-style: none;
    padding: 0;
    margin: 0;
    // @include make-container();
   // @include make-row();
    li {
      border-top: $spacer*0.1 solid $utgray3;
     // @include make-col-ready();
    // @include make-row();
    // @extend .no-gutters;
     position: relative;
     a {
       padding-left: 0;
     }
     li a {
       padding-left: 10%;
     }
     li li a {
       padding-left: 15%;
     }
    }
  }
  svg {
    height: $spacer;
    width: $spacer;
  }


  .btn-bellows {
    .btn-icon-plus {
      display: none;
    }
    .btn-icon-minus {
      display: inline-block;
    }
    &.collapsed {
      .btn-icon-plus {
        display: inline-block;
      }
      .btn-icon-minus {
        display: none;
      }
    }
  }
}