#navigation_unit {
//	border-bottom: $spacer/2 solid $utorange;

  
  .navbar-brand {
	font-weight: $headings-font-weight;
	color: $utsmokey;
  }
  a {
  	text-decoration: none;
  }
}
#ut_identifier {
  box-shadow: 0px 11px 15px -16px rgba(0,0,0,0.75);
}