// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.






// UT Grays
 $utgray1: #F6F6F6;
 $utgray2: #E0E0E0;
 $utgray3: #CACACA;
 $utgray4: #B6B6B6;


// Color system

$white:    #fff !default;
$black:    #000 !default;
$gray-100: lighten($black,90%)  !default;
$gray-200: lighten($black,80%)  !default;
$gray-300: lighten($black,70%)  !default;
$gray-400: lighten($black,60%)  !default;
$gray-500: lighten($black,50%)  !default;
$gray-600: lighten($black,40%)  !default;
$gray-700: lighten($black,30%)  !default;
$gray-800: lighten($black,20%)  !default;
$gray-900: lighten($black,10%) !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);




// UT COLOR SYSTEM
$white: #fff;
$utorange: #FF8200;
$utlimestone: rgb(240, 237, 227);
$utsmokey: rgb(88, 89, 91);
$uttorch: rgb(230, 89, 51);
$uttorchweb: #d5431a;
$utriver: rgb(81, 124, 150);
$utrock: $gray-500;
$uteureka: rgb(235, 234, 100);
$utswitchgrass: rgb(171, 193, 120);
$utvalley: rgb(0, 116, 111);
$utleconte: rgb(141, 32, 72);
$utsummitt: rgb(182, 225, 226);
$utglobe: rgb(0, 108, 147);
$utsunsphere: rgb(255, 213, 48);
$utregalia:  rgb(117, 74, 126);
$utlegacy:  rgb(87, 149, 132);
$utbuckskin:  rgb(112, 85, 80);
$utfountain:  rgb(33, 151, 169);
$utenergy:  rgb(238, 62, 128);
$utsmokeytext: #4b4b4b;
$uttextsmokey: $utsmokeytext;
$utcoolsmokey: #313E48;
$utcoolrock: #D9DFE3;
$utlinkriver: #1C7CD5;

//UT Branding Colors Modify
$utlimestone-d: rgb(213, 211, 205);
$linkdrawer: $utlimestone;

$blue:    $utriver !default;
$indigo:  $utglobe !default;
$purple:  $utregalia !default;
$pink:    $utenergy !default;
$red:     $uttorchweb !default;
$orange:  $utorange !default;
$yellow:  $utsunsphere !default;
$green:   $utlegacy !default;
$teal:    $utswitchgrass !default;
$cyan:    $utfountain !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $utsmokey,
    "gray-dark":  $utsmokeytext
  ),
  $colors
);

$primary:       $utsmokey !default;
$secondary:     $utglobe  !default;
$success:       $utswitchgrass !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $utgray1 !default;
$dark:          $utsmokeytext !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "orange":     $utorange,
    "smokey":     $utsmokey,
    "globe":      $utglobe,
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $utsmokey !default;
$yiq-text-light:            $white !default;

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<","%3c"),
  (">","%3e"),
  ("#","%23"),
) !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                true !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $utsmokeytext !default;


// Links
//
// Style anchor elements.

$link-color:                              $utlinkriver !default;
$link-decoration:                         underline !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
// scss-docs-end container-max-widths

@include _assert-ascending($container-max-widths, "$container-max-widths");

 

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                $spacer*0.1 !default; /* 1px */
$border-color:                #555 !default;

$border-radius:               0 !default; /* .25rem */
$border-radius-lg:            0 !default; /* .3rem */
$border-radius-sm:            0 !default; /* .2rem */

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $utsmokeytext !default;
$component-active-bg:         $utgray2 !default;

// stylelint-disable value-keyword-case
$font-family-sans-serif:  "Gotham A", "Gotham B", "Gotham SSm 4r", 'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-alt:  "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:        Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-size-base:              1.25rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           200 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          800 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-weight:        800 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$hr-border-color:             rgba($utsmokey, .25) !default;



// Navs

$nav-tabs-border-color:             $utgray2 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            0 !default; /* $border-radius */
$nav-tabs-link-hover-border-color:  $utgray1 $utgray1 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $utgray2 $utgray2 $nav-tabs-link-active-bg !default;


// Jumbotron

$jumbotron-padding:                 2rem !default;
$jumbotron-color:                   null !default;
$jumbotron-bg:                      $utgray1 !default;


// Breadcrumbs

$breadcrumb-font-size:              1rem !default;

$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              0rem !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     $utgray1 !default;
$breadcrumb-divider-color:          $utorange !default;
$breadcrumb-active-color:           $gray-600 !default;
//$breadcrumb-divider:                url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4=) !default; /* quote("/") */
$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          $border-radius !default;


$enable-negative-margins: true;
